extends layout

block content
    div.parent-container
        div.main-container
            h2 Which #{user_state} Senator would you like to Tweet?
            form(action='/choose-congressman-:zip', method='post')
                each official in official_data
                    lable(for='senator') #{official.name}
                    input(type='radio', name='senator', value=official.name)