extends layout

block content
    div.parent-container
        div.main-container
            h2 Which #{user_state} Senator would you like to Tweet?
            ul
                each official in official_data
                    li=official.name